:root {
    --headerFontSize: 24px;
    --lineColor: rgb(243, 243, 243);
    --spanColor: rgb(111, 133, 255);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
}

header {
    font-weight: 700;
    font-family: 'Fira Mono', monospace;
    font-size: var(--headerFontSize);
}

section {
    margin: 20px 0px;
}

.intro {
    font-weight: 500;
}

.date {
    display: inline;
}

.search, .searchSummoner{
    margin: 20px 0px 10px 0px;
    padding: 5px 5px;
    border-radius: 4px;
    width: 300px;
}

.buffering {
    animation: blink-effect 500ms linear infinite;
}

hr {
    border: 1px solid #000;
}

ul {
    padding-left: 0px;
}

li {
    font-weight: 400;
    font-family: 'Fira Mono', monospace;
    padding: 10px 0px;
    list-style: none;
}

span {
    font-style: italic;
    color: var(--spanColor);
}

/* table */

table {
    border: 1px solid papayawhip;
    border-collapse: collapse;
}

th, td {
    width: 90px;
}

td {
    text-align: center;
    padding: 5px 0px;
}

thead {
    background-color: var(--spanColor);
}

thead, tr {
    border: 1px solid rgb(243, 243, 243);
}

.toggle1, .toggle2, .toggle3 {
    display: none;
}

.moreBtn1, .moreBtn2, .moreBtn3 {
    cursor: pointer;
    color: grey;
}